div#desktopBar_modalCheck {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

div#desktopBar {
    /* width: 80%; */
    width: 1520px;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
}

div#desktopBar ul {
    width: 100%;
    line-height: 60px;
    position: relative;
}

div#desktopBar ul>li {
    display: inline-block;
}

div#desktopBar ul>li:first-child>a:hover {
    transition: all 0.2s linear;
    filter: brightness(120%);
}

div#desktopBar ul>li:not(:first-child)>a:hover {
    color: #ffffff !important;
}

div#desktopBar ul>li:not(:first-child)>a>img {
    transition: all 0.2s linear;
    filter: brightness(100%);
}

div#desktopBar ul>li:not(:first-child)>a.hiLi1>img {
    transition: all 0.2s linear;
    filter: brightness(140%);
}

div#desktopBar ul>li>a {
    display: inline-block;
    /* vertical-align: middle; */
}

div#desktopBar ul>li:first-child>a>img {
    /* 로고 이미지 */
    width: 76px;
    /* height: 40px; */
    margin-bottom: 5px;
    vertical-align: middle;
    color: #009ae4;
}

div#desktopBar ul>li:not(:first-child)>a>img {
    /* 브라켓 이미지 */
    margin-bottom: 4px;
    position: relative;
    left: -2px;
}


div#desktopBar ul>li {
    margin-right: 30px;
}

div#desktopBar ul>li:last-child {
    margin-right: 0;
}

div#desktopBar ul>li:nth-child(7) {
    position: absolute;
    right: 72px;
    font-size: 18px;
}

div#desktopBar ul>li:last-child {
    position: absolute;
    right: 0;
    font-size: 18px;
}

div#desktopBar ul>li span:nth-child(3) {
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(40, 50, 68) transparent;
    position: absolute;
    top: 40px;
    display: none;
}

div#desktopBar ul>li:nth-child(2) span:nth-child(3) {
    left: 144px;
}

div#desktopBar ul>li:nth-child(5) span:nth-child(3) {
    left: 398px;
}

div#desktopBar ul>li:nth-child(8) span:nth-child(3) {
    left: 55px;
}


/* div#desktopBar ul>li 하위 sub_game */

div#sub_game {
    width: 100%;
    height: 410px;
    /* height: 44%; */
    /* border-top: 1px solid rgb(54, 54, 54); */
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
    position: absolute;
    top: 59px;
    /* background-color: rgba(40, 50, 68, 0.95); */
    background: linear-gradient( to bottom, rgba(40, 50, 68, 1) 0%, rgba(40, 50, 68, 0.99) 25%, rgba(21, 26, 35, 0.98) 75%, rgba(21, 26, 35, 0.99) 100%);
    z-index: 1001;
    display: none;
}

div#sub_game_innerContent {
    /* width: 80%; */
    width: 1520px;
    padding: 20px 0;
    /* border: 1px solid #0f0; */
    margin: 0 auto;
}

div#sub_game_innerContent h1 {
    margin-bottom: 30px;
    font-weight: normal;
    font-family: sans-serif;
    color: #aaa;
    font-size: 13.4px;
}

div#sub_game_innerContent .tblRow div.container {
    height: 100%;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: top;
}

div#sub_game_innerContent .tblRow div.item {
    width: 80px;
    /* margin-left: 40px; */
    margin-left: 2.8%;
    margin-bottom: 34px;
    text-align: center;
    font-size: 11px;
}

div#sub_game_innerContent .tblRow div.item:hover {
    transition: all 0.2s linear;
    filter: brightness(120%);
}

div#sub_game_innerContent div.item:first-child {
    margin-left: 0;
    margin-bottom: 34px;
}

div#sub_game_innerContent div.item img {
    width: 64px;
}


/* verticalLine */

div#sub_game_iC_verticalLine {
    /* width: 0; */
    /* height: 50%; */
    border-left: 1px solid rgba(117, 117, 117, 0.5);
}


/* // verticalLine */


/* ACTIVISION */

div#sub_game_iC_activision {
    /* width: 380px; */
    width: 30%;
    /* height: 50px; */
    padding-left: 10px;
    /* border-left: 1px solid rgba(117, 117, 117, 0.5); */
}

div#sub_game_iC_activision h1 {
    padding-left: 10px;
}


/* // ACTIVISION */


/* sub_game_lnb */

nav#sub_game_lnb {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border-top: 1px solid rgba(117, 117, 117, 0.5);
    /* margin: 0 auto; */
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    text-align: center;
    font-size: 15px;
}

nav#sub_game_lnb div.item {
    vertical-align: top;
    margin: 0 20px;
    display: inline-block;
}

nav#sub_game_lnb div.item:hover {
    filter: brightness(150%);
}

nav#sub_game_lnb div.item img {
    width: 18px;
    height: 100%;
    transform: translateY(20%);
    margin-right: 6px;
}

nav#sub_game_lnb div.item .fa-battle-net {
    margin-right: 6px;
    font-size: 20px;
    display: inline-block;
    transform: translateY(10%);
}


/* // sub_game_lnb */


/* // div#desktopBar ul>li 하위 sub_game */


/* div#desktopBar ul>li 하위 sub_Esports */

div#sub_Esports {
    width: 100%;
    height: 410px;
    /* height: 44%; */
    /* border-top: 1px solid rgb(54, 54, 54); */
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
    position: absolute;
    top: 59px;
    /* background-color: rgba(40, 50, 68, 0.95); */
    background: linear-gradient( to bottom, rgba(40, 50, 68, 1) 0%, rgba(40, 50, 68, 0.99) 25%, rgba(21, 26, 35, 0.98) 75%, rgba(21, 26, 35, 0.99) 100%);
    z-index: 1001;
    display: none;
}

div#sub_Esports_innerContent {
    width: 80%;
    /* height: 100%; */
    padding: 20px 0;
    /* border: 1px solid #0f0; */
    margin: 0 auto;
}

div#sub_Esports_innerContent div.container {
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: top;
}

div#sub_Esports_innerContent div.item {
    width: 200px;
    /* width: 100%; */
    /* border: 1px solid #fff; */
    margin-bottom: 34px;
    text-align: center;
    /* font-size: 11px; */
}

div#sub_Esports_innerContent div.item:hover {
    transition: all 0.2s linear;
    filter: brightness(120%);
}


/* div#sub_Esports_innerContent div.item:first-child {
    margin-left: 0;
    margin-bottom: 34px;
} */

div#sub_Esports_innerContent div.item img {
    /* width: 200px; */
    width: 100%;
}


/* sub_Esports_lnb */

nav#sub_Esports_lnb {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border-top: 1px solid rgba(117, 117, 117, 0.5);
    /* margin: 0 auto; */
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    text-align: center;
    font-size: 15px;
}

nav#sub_Esports_lnb div.item {
    /* width: 100px; */
    width: 150px;
    vertical-align: top;
    /* margin: 0 20px; */
    display: inline-block;
}

nav#sub_Esports_lnb div.item:hover {
    filter: brightness(150%);
}

nav#sub_Esports_lnb div.item img {
    width: 18px;
    /* height: 100%; */
    transform: translateY(20%);
    margin-right: 6px;
}


/* // sub_Esports_lnb */


/* // div#desktopBar ul>li 하위 sub_Esports */


/* div#desktopBar ul>li 하위 sub_myAccount_innerContent */

div#sub_myAccount {
    width: 1520px;
    margin: 0 auto;
    /* border: 1px solid #ff0000; */
    position: relative;
    z-index: 2000;
    /* game, Esport와 구조 구성에 차이가 있으므로 강조해두겠음 */
    display: block !important;
}

div#sub_myAccount_innerContent {
    width: 320px;
    /* height: 200px; */
    /* border-top: 1px solid rgb(54, 54, 54); */
    border: 1px solid rgba(117, 117, 117, 0.5);
    position: absolute;
    right: -20px;
    top: 59px;
    /* background-color: rgba(40, 50, 68, 0.95); */
    background: linear-gradient( to bottom, rgba(40, 50, 68, 1) 0%, rgba(40, 50, 68, 0.99) 25%, rgba(21, 26, 35, 0.98) 75%, rgba(21, 26, 35, 0.99) 100%);
    z-index: 1001;
    display: none;
}

div#sub_myAccount_innerContent div {
    width: 100%;
    /* border: 1px solid #0f0; */
    /* font-size: 20px; */
    /* margin: 0 auto; */
    /* text-align: center; */
    padding: 10px 20px;
}

div#sub_myAccount_innerContent>div:first-child {
    padding: 20px 20px;
}

div#sub_myAccount_innerContent>a>div {
    border-top: 1px solid rgba(117, 117, 117, 0.5);
    /* height: 30px; */
}

div.loginDiv a {
    /* width: 274px; */
    width: 278px;
    height: 38px;
    line-height: 36px;
    border: 1px solid #009dff;
    background-color: #006fb2;
    display: inline-block;
    text-align: center;
}

div.loginDiv a:hover {
    transition: all 0.4s linear;
    filter: brightness(120%);
}

div.loginDiv a span {
    color: #ffffff
}

div#sub_myAccount_innerContent>a>div:hover>.fas,
div#sub_myAccount_innerContent>a>div:hover>span {
    filter: brightness(120%);
}


/* // div#desktopBar ul>li 하위 sub_myAccount_innerContent */
